@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    width: 22.5rem;
    height: 100vh;
    font-family: 'Open Sans', 'icones', sans-serif;
}

.cabecalho-container {
    display: flex;
    justify-content: space-between;
    background-color: #15191C;
    width: 22.5rem;
    height: 3.5rem;
    padding: .5rem 1rem;
    box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.16);
}

.menu-lateral-container {
    display: flex;
    flex-direction: column;
    width: 12.75rem;
    height: 100vh;
    background-color: #15191C;
}

.menu-lateral-logo {
    width: 7.375rem;
    height: 7.375rem;
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: 1.875rem;
}

.menu-lateral-link {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem 1rem 1.5rem;
    font-family: 'Open Sans', 'icones', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #95999C;

}

.menu-lateral-link::before {
    content: "\e900";
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
