@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    width: 22.5rem;
    height: 100vh;
    font-family: 'Open Sans', 'icones', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #15191C;
    width: 22.5rem;
    height: 3.5rem;
    padding: .5rem 1rem;
    box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.16);
}

.cabecalho-menu i::before {
    content: "\e904";
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
}

.cabecalho-notificacao i::before {
    content: "\e906";
    font-size: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    width: 12.75rem;
    height: 64rem;
    background-color: #15191C;
    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral-logo {
    width: 7.375rem;
    height: 7.375rem;
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: 1.875rem;
}


.menu-lateral-link {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem 1rem 1.5rem;
    font-family: 'Open Sans', 'icones', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #95999C;

}

.menu-lateral-link--ativo {
    color: #FFFFFF;
    padding-left: 1rem;
    border-left: 8px solid #FFFFFF;
    
}


.menu-lateral-link::before {
    content: "\e900";
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.menu-lateral-link--inicio::before {
    content: "\e902";
}

.menu-lateral-link--video::before {
    content: "\e90e";
}

.menu-lateral-link--picos::before {
    content: "\e908";
}

.menu-lateral-link--integrantes::before {
    content: "\e903";
}

.menu-lateral-link--camisas::before {
    content: "\e900";
}

.menu-lateral-link--pinturas::before {
    content: "\e90a";
}

